<form action="/spaces" method="post">
List a space
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="description" placeholder="Description"/>
  <input type="number" name="price" placeholder="Price"/>
  <input type="submit" name="List It!"/>
</form>
