<h2>
  <%= @error_email_message %>
</h2>
<form action="/sessions" method="post">
  <input type="email" name="email"  placeholder="email.."/>
  <input type="password" name="password" placeholder="password.." />
  <input type="submit" value="log in" />
</form>


