<form method="post" action="/users">
  <input type="text" name="name" placeholder="name..">
  <input type="text" name="username" placeholder="username..">
  <input type="email" name="email" placeholder="Email..">
  <input type="password" name="password" placeholder="Password..">
  <input type="submit" value="signup">
</form>